.js-scale
  height: 250px
  padding-top: rem-calc(50)

  p
  font-size: 18px
  margin-bottom: 0

  .indicator-wrap
    width: 250px
    height: 136px
    position: relative
    img
      position: absolute

    .yellowsec
      left: 0
      bottom: 0

    .bluesec
      right: -6px
      bottom: 0


    .greensec
      top: 6px
      left: 56px

    .pointer
      bottom: 0
      left: 36%








