.personal-info
  height: 250px
  padding: rem-calc(30)

  @media screen and (max-width: 39.9375em)
    padding: rem-calc(6)

  .avatarImg
    display: block
    @media screen and (max-width: 39.9375em)
      width: 34%
      margin: 0 auto
      margin-bottom: rem-calc(20)


  form
    position: relative
  .form-group
    position: relative

  label
    position: absolute
    text-transform: uppercase
    font-size: $vertical-gutter * 1
    color: $dark-gray
    letter-spacing:  0.10em

  .input-has-text
    top: -16px

  .form-control
    width: rem-calc(428)
    height: rem-calc(24)
    border: none
    border-bottom: 1.6px solid $black
    background: transparent
    box-shadow: none
    color: $black
    padding: 0
    margin-bottom: rem-calc(30)

    @media screen and (max-width: 39.9375em)
      width: 100%

    &:hover, &:focus, &:active
      border: none
      background-color: transparent
      border-bottom: 1.6px solid $black
      box-shadow: none

  .stempel-img
    position: absolute
    right: 0
    top: rem-calc(40)

    @media screen and (max-width: 39.9375em)
      top: rem-calc(50)


