.skills
  height: 250px
  padding: rem-calc(30)

  p
    margin-bottom: 24px
    font-size: 18px

  .icheckbox_flat-blue
    margin-right: 6px

  label
    text-transform: uppercase
    color: #666
    letter-spacing:  0.02em
    margin-bottom: 40px

















